
.accordian {
    /*  padding: 0 20px 0 20px;*/
      max-width: 960px;
      width: 100%;
    }
    
    .faq {
      list-style: none;
      padding-left: 60px;
      padding-right: 20px;
    
    }
    
    .faq li {
      border-bottom: 2px solid #4caf50;
      margin-bottom: 15px;
    }
    
    .faq li.active .answer {
      max-height: 275px!important;
      padding-bottom: 25px;
      transition: max-height 0.5s ease, padding-bottom 0.5s ease;
    }
    
    
    .faq .answer {
     color: #090909;
      font-family: serif;
      font-size: 20px;
      line-height: 24px;
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.5s ease, padding-bottom 0.5s ease;
    }
    
    @media screen and (max-width: 500px) {
      .faq li.active .answer {
        max-height: 5px!important;
        padding-bottom: 25px;
        transition: max-height 0.5s ease, padding-bottom 0.5s ease;
      }
    
      .faq .answer {
    /*  color: #090909;
        font-family: serif;
        font-size: 16px;
        line-height: 24px;*/
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s ease, padding-bottom 0.5s ease;
      }
    }
    
    
    
    .faq li.active .question {
      color: #808080;
      transition: color 0.5s ease;
    }
    
    .faq .plus-minus-toggle {
      cursor: pointer;
      height: 19px;
      position: absolute;
      width: 19px;
      left: -40px;
      top: 45%;
      z-index: 2;
    }
    
    .faq .plus-minus-toggle:before
    {
        background:black ;
    }
    
    .faq .plus-minus-toggle:before, .faq .plus-minus-toggle:after {
      background: #4caf50;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: 0;
      width: 19px;
      transition: background 500ms ease, transform 500ms ease;
    }
    
    .faq .plus-minus-toggle:after {
      transform-origin: center;
    }
    
    .faq .plus-minus-toggle.collapsed:after {
      background: rgb(30,34,38);
      transform: rotate(90deg);
    }
    
    .faq .plus-minus-toggle.collapsed:before {
      background: rgb(30,34,38);
      transform: rotate(180deg);
    }
    
    .faq .question {
    /*  color: #090909;
      font-family: sans-serif;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      transition: color 0.5s ease;*/
      position: relative;
      cursor: pointer;
      hyphens: none!important;
      padding: 10px 0;
    } 
    